[submodule "docs/boilerplate"]
	path = docs/boilerplate
	url = https://github.com/aws-ia/aws-ia-documentation-base-common.git
[submodule "submodules/cfn-ps-aws-vpc"]
	path = submodules/cfn-ps-aws-vpc
	url = https://github.com/aws-ia/cfn-ps-aws-vpc.git
	branch = main
[submodule "submodules/cfn-ps-linux-bastion"]
	path = submodules/cfn-ps-linux-bastion
	url = https://github.com/aws-ia/cfn-ps-linux-bastion.git
	branch = main
